<body>

	<header>

		<h1 class="logo">Serwer TeamSpeak <font color="red">RedPower</font></h1>

		<nav id="topnav">

			<ul class="menu">
				<li><a href="/">Strona główna</a></li>
				<li><a href="/pierwszy-raz-tutaj/">Pierwszy raz tutaj?</a></li>
				<li><a href="/czlonkowie-administracji/">Członkowie Administracji</a></li>
				<li><a href="/kontakt/">Kontakt</a></li>
			</ul>

		</nav>



	</header>

	<main>

		<article>

			<section>

				<div class="categories">

					<header>

						<h1>Witaj na naszym serwerze!</h1>
						<p>Szukasz serwera do porozmawiania z kolegami? Spokojnej, miłej atmosfery? Pomocnej Administracji? Jeśli tak zapraszam Cię na mój serwer.</p>

					</header>



			</section>
