{% if page.description %}
	{% capture description %}
		{{ page.description }} - RedPower
	{% endcapture %}
{% else %}
	{% assign description=site.description %}
{% endif %}

{% if page.title %}
	{% capture title %}
		{{ page.title }} - RedPower
	{% endcapture %}
{% else %}
	{% assign title=site.title %}
{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge", chrome=1>
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
<meta name="robots" content="index, follow">
<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

<title>{{ title }}</title>

<meta name="DC.Title" content="{{ title }}">
<meta name="DC.Creator" content="{{ site.author }}">
<meta name="DC.Subject" content="{{ site.altname }}">
<meta name="DC.Description" content="{{ description }}">
<meta name="DC.Language" content="pl">
<meta name="DC.Rights" content="{{ site.url }}">

<meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}">

<meta content="website" property="og:type">

{% if page.img %}
  <meta content="{{ site.url }}{{ page.img }}" property="og:image">
{% else %}
  <meta property="og:image" content="{{ site.url }}/data/img/og/0.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
{% endif %}

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">

<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "alternateName": "{{ site.altname }}",
    "url": "{{ site.url }}{{ page.url | replace:'index.html',''}}",
    "name": "{{ title }}",
    "description": "{{ description }}"
}
</script>

<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="icon" type="image/png" href="/static/img/favicon/favicon.png">

<link rel="preload" href="/static/fonts/exo-2-v4-latin-ext_latin-regular.woff2" as="font" crossorigin>
<link rel="preload" href="/static/fonts/exo-2-v4-latin-ext_latin-italic.woff2" as="font" crossorigin>
<link rel="preload" href="/static/fonts/exo-2-v4-latin-ext_latin-700.woff2" as="font" crossorigin>
