<a href="/" class="center">
	<div class="logo">
		<img src="/static/img/logo/left.png" alt="RedPower - Logo">
		<img src="/static/img/logo/redpower.gif" alt="RedPower - Logo">
		<img src="/static/img/logo/right.png" alt="RedPower - Logo">
		<div class="clear"></div>
	</div>
</a>

<nav>

	<div class="navbar">
		<div class="aligner">
			<div class="left">
				<a href="/" class="item"><i class="fas fa-home"></i></a>
			</div>
			<div class="right">
				<a href="/witryny-i-aplikacje/" class="item">
					<span><i class="fas fa-code"></i> Witryny i aplikacje</span>
				</a>
				<a href="/javascript/" class="item">
					<span><i class="fab fa-node-js"></i> JavaScript</span>
				</a>
				<a href="/php/" class="item">
					<span><i class="fab fa-php"></i> PHP</span>
				</a>
				<a href="/kontakt/" class="item">
					<span><i class="fas fa-envelope"></i> Kontakt</span>
					<a href="ts3server://redpower.me" class="item">
						<span><i class="fab fa-teamspeak"></i> TeamSpeak</span>
				</a>
			</div>
		</div>
	</div>

</nav>
