<div class="linked">
	<div class="aligner">
		<div class="links">
			<a href="{{ site.ts3-root }}"><i class="fab fa-teamspeak"></i></a><a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
		</div>
	</div>
</div>

<a href="/" class="center">
	<div class="logo">
		<img src="/static/img/logo/left.png" alt="RedPower - Logo">
		<img src="/static/img/logo/redpower.gif" alt="RedPower - Logo">
		<img src="/static/img/logo/right.png" alt="RedPower - Logo">
		<div class="clear"></div>
	</div>
</a>

<nav>

	<div class="navbar">
		<div class="aligner">
			<div class="left">
				<a href="/" class="item"><i class="fas fa-home"></i></a>
			</div>
			<div class="right">
				<a href="/informacje/" class="item">
					<span><i class="fas fa-info-circle"></i> Informacje</span>
				</a>
				<div class="dropdown">
					<a class="item">
						<span><i class="fas fa-server"></i> Serwer</span>
					</a>
					<div class="inner">
						<a href="/czlonkowie-administracji/" class="item">
							<span><i class="fas fa-users"></i> Administracja</span>
						</a>
						<a href="/regulamin/" class="item">
							<span><i class="far fa-newspaper"></i> Regulamin</span>
						</a>
					</div>
				</div>
				<a href="/donacje/" class="item">
					<span><i class="fas fa-dollar-sign"></i> Dotacje</span>
				</a>
				<a href="/kontakt/" class="item">
					<span><i class="fas fa-envelope"></i> Kontakt</span>
				</a>
			</div>
		</div>
	</div>

</nav>
