<div class="linked">
	<div class="aligner">
		<div class="links">
			<!-- TODO: Include fontello and place correct hrefs -->
			<a href="#facebook" class="facebook">fb</a><a href="#yt" class="youtube">yt</a><a href="#email">@</a>
		</div>
	</div>
</div>

<a href="/" class="center">
	<div class="logo">
		<img src="/static/img/logo/left.png" alt="RedPower - Logo">
		<img src="/static/img/logo/redpower.gif" alt="RedPower - Logo">
		<img src="/static/img/logo/right.png" alt="RedPower - Logo">
		<div class="clear"></div>
	</div>
</a>

<nav>

	<div class="navbar">
		<div class="aligner">
			<div class="left">
				<a href="/pierwszy-raz-tutaj/" class="item">
					<span>Pierwszy raz?</span>
				</a>
				<a href="/czlonkowie-administracji/" class="item">
					<span>Administracja</span>
				</a>
			</div>
			<!-- TODO: Home icon -->
			<div class="middle">
				<a href="/" class="item"><span>@</span></a>
			</div>
			<div class="right">
				<a href="/czlonkowie-administracji/" class="item">
					<span>Login</span>
				</a>
				<a href="/kontakt/" class="item">
					<span>Kontakt</span>
				</a>
			</div>
		</div>
	</div>

</nav>
