---
---

body {
  background-color: rgb(48, 48, 48);
}

.html-second {
  display: block;
  background-color: #202020;
  color: #bbb;
}

.css-second {
  display: block;
  background-color: #202020;
  color: #bbb;
}

.js-second{
  display: block;
  background-color: #202020;
  color: #bbb;
}

.native code {
  margin: 0 auto;
}
