---
---

body {
  background-color: #130f0f;
}

.html-second {
  display: block;
  background-color: #121212;
  color: #bbb;
}

.css-second {
  display: block;
  background-color: #151515;
  color: #bbb;
}

.native code {
  margin: 0 auto;
}
