// Some primary colors
$dark_0: #121212;
$dark_1: #151515;
$red_0: #4e000f;
$red_1: #570112;
$red_2: #96011d;
// Screen widths which determine device type
$mobile-width: 768px;
$big-width: 1366px;
// Max content size
$max-width: 850px;
$max-width-big: 1050px;

// Some basic styling
html,
body {
  margin: 0;
}

body {
  color: #bbb;
  font-size: 16px;
  background-color: $dark_1;
  font-family: 'Exo 2', sans-serif;
}

a {
  outline: none;
}

.aligner {
  margin: 0 auto;
  max-width: $max-width;
  box-sizing: border-box;
}

.footliner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.footliner>.item.top {
  align-self: flex-start;
}

.footliner>.item {
  width: 100%;
  margin: 0 auto;
}

.footliner>.item.bottom {
  align-self: flex-end;
}

.centered {
  text-align: center;
}

@media screen and (max-width: $mobile-width) {
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: $big-width) {
  body {
    font-size: 17px;
  }

  .aligner {
    max-width: $max-width-big;
  }
}
