html{
    font-size: 18px;
    color: #ccc;
}

body{
    margin: 0px;
    padding: 0px;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);

    position: relative;
    min-height: 100vh;
    
    background: #44A08D; /* fallback for old browsers */
    background: -webkit-radial-gradient(50%, #44A08D, #093637); /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(50%, #44A08D , #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
