$bottom-radius: 24px;

.container {
  margin-top: -$nav-bottom-border;
  margin-bottom: 3em;
  border-left: $nav-bottom-border solid $red_1;
  border-right: $nav-bottom-border solid $red_1;
  border-bottom: $nav-bottom-border solid $red_1;
  border-bottom-left-radius: $bottom-radius;
  border-bottom-right-radius: $bottom-radius;
  background-color: $dark_0;
  width: 80%;
}

.content {
  padding: 1.25em;
  .info{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.message {
  margin: -4px;
  padding: .4em;
  background-color: $red_1;

  h1,
  h2,
  h3,
  h4 {
    margin: .3em 0;
  }
}

.padded.message {
  padding: 1em;
}

.message:last-child {
  border-radius: inherit;
}

/* Image list styling */

h1.underline {
  border-bottom: $nav-bottom-border solid $red_1;
  margin: 0 -.625em;
  margin-bottom: .3em;
  padding-bottom: 20px;
}

.list {
  .item {
    display: flex;
    padding: 1em 3em;

    .image {
      display: flex;
      flex-flow: column;
      text-align: center;
      width: 7em;

      img {
        display: block;
        width: 100%;
        height: auto;
        margin: 1 auto;
        max-width: 100px;
        max-height: 100px;
      }

      h2 {
        margin: .2em 0;
      }
    }

    .description {
      flex: 1;
      flex-grow: 1;
      // Vertical align role description
      // align-self: center;
    }
  }
}

.cards {
  display: flex;
  padding: 1em 2em;
  flex-wrap: wrap;

  .card {
    flex: 1 0 50%;
    padding: 1em;
    box-sizing: border-box;

    text-align: center;

    a {
      color: #bbb;
      display: block;
      padding: .35em .25em;
      font-size: 2em;
      transition: .3s;
      box-sizing: border-box;
    }

    a:hover {
      color: #fff;
      background-color: $red_2;
    }

    p {
      margin: .5em 0;
    }
  }
}

@media screen and (max-width: $max-width) {
  .container {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  .message {
    margin: -4px 0;
  }

  .cards {
    .card {
      flex: 1 0 100%;
    }
  }

  // TODO: Tutaj repsponsywne style
}
