.footer {
  color: #ccc;
  margin-top: 1em;
  background-color: $color_4;

  .upper {
    padding: 1em .5em;
  }

  .lower {
    display: flex;
    padding: 1em .5em;
    justify-content: center;
    background-color: $color_3;
  }
}

@media screen and (max-width: $max-width) {
  .footer {
    margin-top: 0;
  }
}
