.linked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .links {
    text-align: right;
    a {
      color: #bbb;
      display: inline-block;
      padding: .5em .9em;
      transition: .3s;
      text-decoration: none;
      border-right: 2px solid $red_0;
      border-bottom: 2px solid $red_0;
      background-color: $dark_0;
    }
    a:first-child {
      border-left: 2px solid $red_0;
    }
    a:hover {
      color: #fff;
      border-color: $red_2;
      background-color: $red_2;
    }
    a.facebook:hover {
      border-color: #3b5998;
      background-color: #3b5998;
    }
    a.youtube:hover {
      border-color: #ff1422;
      background-color: #ff1422;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .linked {
    display: none;
  }
}

@media screen and (max-width: $max-width) {
  .linked .links a:last-child {
    border-right: none;
  }
}

header .center {
  height: 236px;
  display: block;
  text-align: center;
  transition: .3s;
}

header .center:hover {
  filter: saturate(1.2);
}

.logo {
  display: inline-block;
  img:first-child {
    width: 236px;
    margin-left: -236px;
  }
  img {
    display: block;
    max-width: 921px;
    height: 236px;
    float: left;
    width: 100%;
    object-fit: none;
  }
  img:last-of-type {
    width: 236px;
    margin-right: -236px;
  }
  .clear {
    clear: both;
  }
}

/* Navbar related stuff */

$nav-bottom-border: 4px;
.navbar {
  background-color: $red_1;
  border-bottom: $nav-bottom-border solid $dark_0;
  .aligner {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    flex: 1;
    color: #d1d1d1;
    padding: .9em 1em;
    font-size: 1.2em;
    text-align: center;
    transition: .3s;
    font-weight: bold;
    text-decoration: none;
    border-bottom: $nav-bottom-border solid rgba(0, 0, 0, 0);
    margin-bottom: -$nav-bottom-border;
  }
  .middle.item {
    flex: 0;
  }
  .item:hover {
    color: #ffffff;
    background-color: $red_2;
    border-bottom-color: $red_1;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    img:first-child,
    img:last-of-type {
      display: none;
    }
    img {
      height: 55vw;
      object-fit: cover;
    }
  }
  header .center {
    margin-top: -15vw !important;
    height: 55vw;
  }
}

@media screen and (max-width: $mobile-width) {
  header .center {
    margin-top: -60px;
  }
}
