$nav_linked_border: 4px;
.linked {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  .aligner {
    text-align: right;
  }
  .links {
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    height: 236px;
    a {
      z-index: 1;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -o-sticky;
      position: -ms-sticky;
      position: sticky;
      top: 0px;
      bottom: 10px;
      color: #bbb;
      display: inline-block;
      padding: .5em .9em;
      transition: .3s;
      margin-bottom: .8em;
      text-decoration: none;
      border-right: $nav_linked_border solid $red_0;
      border-bottom: $nav_linked_border solid $red_0;
      background-color: $dark_0;
    }
    a:first-child {
      border-left: $nav_linked_border solid $red_0;
    }
    a:hover {
      color: #fff; // border-color: $red_2;
      background-color: $red_2;
    }
    a.facebook:hover {
      // border-color: #3b5998;
      background-color: #3b5998;
    }
    a.youtube:hover {
      // border-color: #ff1422;
      background-color: #ff1422;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .linked {
    display: none;
  }
}

@media screen and (max-width: $max-width) {
  .linked .links a:last-child {
    border-right: none;
  }
}

header .center {
  height: 236px;
  display: block;
  text-align: center;
  transition: .3s;
}

header .center:hover {
  filter: saturate(1.2);
}

.logo {
  display: inline-block;
  img:first-child {
    width: 236px;
    margin-left: -236px;
  }
  img {
    display: block;
    max-width: 921px;
    height: 236px;
    float: left;
    width: 100%;
    object-fit: none;
  }
  img:last-of-type {
    width: 236px;
    margin-right: -236px;
  }
  .clear {
    clear: both;
  }
}

/* Navbar related stuff */

$nav-bottom-border: 4px;
.navbar {
  background-color: $red_1;
  border-bottom: $nav-bottom-border solid $dark_0;
  .aligner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .left,
  .right {
    flex-basis: 45%;
  }
  .left,
  .right,
  .middle {
    display: flex;
  }
  .middle {
    flex: 1;
  }
  .right {
    text-align: right;
  }
  .item {
    flex: 1;
    color: #d1d1d1;
    display: flex;
    align-items: center;
    padding: .9em .6em;
    font-size: 1.2em;
    text-align: center;
    transition: .3s;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    border-bottom: $nav-bottom-border solid rgba(0, 0, 0, 0);
    margin-bottom: -$nav-bottom-border;
  }
  .middle .item {
    padding: .9em;
  }
  .item:hover {
    color: #ffffff;
    background-color: $red_2;
    border-bottom-color: $red_1;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    img:first-child,
    img:last-of-type {
      display: none;
    }
    img {
      height: 55vw;
      object-fit: cover;
    }
  }
  header .center {
    margin-top: -15vw !important;
    height: 55vw;
  }
}

@media screen and (max-width: $mobile-width) {
  header .center {
    margin-top: -60px;
  }
  .navbar {
    .middle {
      display: none;
    }
    .left,
    .right {
      flex-basis: 100%;
    }
  }
}
