header .center {
  height: 236px;
  display: block;
  text-align: center;
}

.logo {
  display: inline-block;
  img:first-child {
    width: 236px;
    margin-left: -236px;
  }
  img {
    display: block;
    max-width: 921px;
    height: 236px;
    float: left;
    width: 100%;
    object-fit: none;
  }
  img:last-of-type {
    width: 236px;
    margin-right: -236px;
  }
  .clear {
    clear: both;
  }
}

/* Navbar related stuff */

$nav-bottom-border: 4px;
.navbar {
  width: 100%;
  background-color: $red_1;
  border-bottom: $nav-bottom-border solid $dark_0;
  .aligner {
    margin: 0 auto;
    display: flex;
    max-width: $max-width;
  }
  .item {
    flex: 1;
    color: #d1d1d1;
    padding: 14px 16px;
    font-size: 1.2em;
    text-align: center;
    transition: .3s;
    font-weight: bold;
    text-decoration: none;
    border-bottom: $nav-bottom-border solid rgba(0, 0, 0, 0);
    margin-bottom: -$nav-bottom-border;
  }
  .item:hover {
    color: #ffffff;
    background-color: $red_2;
    border-bottom-color: $red_1;
  }
}

@media screen and (max-width: 450px) {
  .logo{
    img:first-child,
    img:last-of-type {
      display: none;
    }
    img {
      height: 55vw;
      object-fit: cover;
    }
  }
  header .center {
    margin-top: -15vw!important;
    height: 55vw;
  }

}

@media screen and (max-width: $mobile-width) {
  header .center {
    margin-top: -60px;
  }
}

@media screen and (min-width: $big-width) {
  .navbar .aligner {
    max-width: $max-width-big;
  }
}
