<!DOCTYPE html>
<html lang="pl">

<head>
	{% include head.html %}
</head>

<body>

	<header>
		{% include header.html %}
	</header>

	<main>
		<section>

			<div class="categories">

				<header>

					<h1>Witaj na naszym serwerze!</h1>
					<p>Szukasz serwera do porozmawiania z kolegami? Spokojnej, miłej atmosfery? Pomocnej Administracji? Jeśli tak zapraszam
						Cię na mój serwer.</p>

				</header>

			</div>

		</section>

		{{ content }}
	</main>

	<footer>
		{% include footer.html %}
	</footer>

</body>

</html>
